
@import url(../starter.css);

/*********************************************   HOME   *******************************************************/


/***** HOME > Filters ******/

section.homeSection .filters{
    min-height:7rem;
    border-bottom:2px solid #ebebeb;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:start;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    padding:0 2rem;
}
.searchBox{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    min-height:60%;
    gap:0.5rem;
    border:1px solid #aaa;
    border-radius: 2rem;
}
section.homeSection .filters input{
    background: transparent;
    border-radius:2rem 0 0 2rem ;
    border: none;
    outline:0;
    padding:1rem;
}

.searchBox button{
    border-radius: 0 2rem 2rem 0 ;
    outline: none;
    border:0;
    background:none;
    padding:1rem;
    -webkit-transform:rotate(-80deg);
        -ms-transform:rotate(-80deg);
            transform:rotate(-80deg);
}

section.homeSection .filters .divider{
    margin:0 2rem;
    color:#ebebeb;
    height:2rem;
    line-height:2rem;
    -webkit-transform:scale(2);
        -ms-transform:scale(2);
            transform:scale(2);
    font-weight:100;
}

.customFilters select{
    background: none;
    outline: 0;
    border: 1px solid rgb(224, 219, 219);
    padding: 0.8rem;
    border-radius: 2rem;
    margin:0 0.3rem;
    width:10rem;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.customFilters select.active{
    border: 1px solid #353343;
}

.viewOnMap{
    display: inline-block;
    padding:0.8rem;
    border:1.5px solid #353343;
    border-radius:0.8rem;
    font-size:1.2rem;
    font-weight: bold;
    margin-left:auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
.viewOnMap i{
    font-size:1.8rem;
}

@media all and (max-width:992px){

    section.homeSection .filters{
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        gap:2rem;
        padding:1rem;
    }
    section.homeSection .filters .divider{
        display:none;
    }
    .searchBox{
        -webkit-box-ordinal-group:2;
            -ms-flex-order:1;
                order:1;
    }
    .viewOnMap{
        margin-left:0;
        -webkit-box-ordinal-group:3;
            -ms-flex-order:2;
                order:2;
    }
    .customFilters{
        -webkit-box-ordinal-group:4;
            -ms-flex-order:3;
                order:3;
    }
}

@media all and (max-width:625px){
    .viewOnMap{
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
    }
}

@media all and (max-width:490px){
    html{
        font-size:57%;
    }
}
@media all and (max-width:425px){
    .customFilters{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap:1rem;
    }

    .customFilters select{
        width:46%;
    }
}



/***** HOME > Cards ******/

div.cardOuterContainer{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    padding:2rem;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
}

div.cardOuterContainer .card{
    -ms-flex-preferred-size:29rem;
        flex-basis:29rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border:1px solid #d6d0d0;
    height:42rem;
    border-radius:0.7rem;
    position: relative;
    z-index:0;
    margin:1.5rem;
} 

div.cardOuterContainer .card .imgContainer{
    position:relative;
}

div.cardOuterContainer .card .imgContainer img{
    display:block;
    height:20rem;
    width:100%;
    border-top-left-radius:0.7rem;
    border-top-right-radius:0.7rem;
}

div.cardOuterContainer .card .imgContainer .project-verified-label{
    position:absolute;
    top:5%;
    padding:0.5rem 2.8rem 0.5rem 0.8rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    text-transform: uppercase;
    font-size: 1.3rem;
    background:#fff;
}


div.cardOuterContainer .card.project .imgContainer .project-verified-label{
    background:darkgreen;
    color:#fff;
}

div.cardOuterContainer .card .imgContainer .type{
    position:absolute;
    left:2%;
    bottom:5%;
    padding:0.3rem 0.5rem;
    background:#fff;
    border-radius:0.4rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight:500;
}

div.cardOuterContainer .card .propertyDetails{
    padding:1.5rem 1rem;
}

div.cardOuterContainer .card .propertyDetails h4{
    text-transform: capitalize;
    padding-bottom:0.3rem;
}

div.cardOuterContainer .card .propertyDetails p.address{
    color:rgb(170, 158, 158);
    font-size:1.3rem;
    padding-bottom:0.5rem;
}

div.cardOuterContainer .card .propertyDetails .amenities{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
}

div.cardOuterContainer .card .propertyDetails .amenities > div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5rem;
}

div.cardOuterContainer .card .propertyDetails .amenities i{
    font-size:2.3rem;
}

div.cardOuterContainer .card .propertyDetails .amenities label{
    font-weight:500;
}

div.cardOuterContainer .card .cardFooter{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    gap:0.5rem;
    position:absolute;
    bottom:0;
    left: 50%;
    -webkit-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
            transform:translateX(-50%);
    padding:2rem 0;
    border-top:1px solid rgb(170, 158, 158);
    width:calc(100% - 2rem);
}

div.cardOuterContainer .card.project::after{
    content:"";
    display:block;
    position:absolute;
    background:darkgreen;
    bottom:0;
    width:100%;
    height:2%;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

div.cardOuterContainer .card .cardFooter span{
    font-size:1.3rem;
    font-weight: bold;
    margin-left: 1rem;
}
